<!DOCTYPE html>
<html lang="en" ng-app="GroceryApp">
<head>
    <meta charset="UTF-8">
    <title>Grocery Management</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">

</head>
<body ng-controller="GroceryCtrl as ctrl">
    <div class="container">
        <h1>Grocery Management</h1>
        <div class="col-lg-3">
            <form name="queryForm">
                <div class="form-group">
                    <label for="Brand">Brand:</label>
                    <input id="Brand" class="form-control" type="text" name="Brand" ng-model="ctrl.brand"
                           placeholder="Enter brand to search">
                </div>
                <div class="form-group">
                    <label for="ProductName">Product Name:</label>
                    <input id="ProductName" class="form-control" type="text" name="ProductName"
                           placeholder="Enter product name to search">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info form-control" ng-click="ctrl.search()">
                        Search
                    </button>
                </div>
            </form>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Barcode</th>
                    <th>Brand</th>
                    <th>Product Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="result in ctrl.list">
                    <td><img src=http://www.barcodes4.me/barcode/c128a/{{result.upc12}}.png?IsTextDrawn=1 alt="barcode"></td>
                    <td>{{result.brand}}</td>
                    <td>{{result.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="app.js"></script>
<script src="grocery.controller.js"></script>
</html>